!!!
%html
  %head
    \<? include 'templates/head.php'; ?>
  %body
    #background
    #big_moon
    #small_moon
    %section#main
      %h1 Jarallax Wars
      %h2.head1 It's the time to go...
      %p.par1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi felis velit, venenatis sit amet tincidunt vel, vehicula sit amet sapien. Phasellus ultricies commodo justo, ut sodales nisi dapibus id. In aliquam lectus id magna gravida a lobortis sem venenatis. Morbi et interdum ante. Nunc sollicitudin magna ac turpis fringilla fermentum. Sed vulputate dolor at urna ornare eleifend. Suspendisse potenti. Etiam eget erat erat.
      %h2.head2 The Star is always with you.
      %p.par2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi felis velit, venenatis sit amet tincidunt vel, vehicula sit amet sapien. Phasellus ultricies commodo justo, ut sodales nisi dapibus id. In aliquam lectus id magna gravida a lobortis sem venenatis. Morbi et interdum ante. Nunc sollicitudin magna ac turpis fringilla fermentum. Sed vulputate dolor at urna ornare eleifend. Suspendisse potenti. Etiam eget erat erat.
      %h2.head3 Set me free.
      %p.par3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi felis velit, venenatis sit amet tincidunt vel, vehicula sit amet sapien. Phasellus ultricies commodo justo, ut sodales nisi dapibus id. In aliquam lectus id magna gravida a lobortis sem venenatis. Morbi et interdum ante. Nunc sollicitudin magna ac turpis fringilla fermentum. Sed vulputate dolor at urna ornare eleifend. Suspendisse potenti. Etiam eget erat erat.
