%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
%title Jarallax
%meta{content: "Jarallax", name: "description"}
%meta{content: "en", "http-equiv" => "content-language"}
%link{href: "./assets/css/structure.css", rel: "stylesheet", type: "text/css"}
%link{href: "./assets/css/app.css", rel: "stylesheet", type: "text/css"}
%script{src: "./assets/js/jquery-1.9.0.min.js", type: "text/javascript"}
%script{src: "./assets/js/jarallax-0.2.3b.min.js", type: "text/javascript"}
