#background, #big_moon, #small_moon {
  position: fixed; }

#background {
  width: 100%;
  height: 1500px;
  top: 0;
  background: url(../img/background.jpg) no-repeat;
  z-index: -3; }

#big_moon {
  width: 356px;
  height: 344px;
  left: 70%;
  top: 120%;
  background: url(../img/bigmoon.png);
  margin-top: -172px;
  margin-left: -178px;
  z-index: -1; }

#small_moon {
  width: 204px;
  height: 183px;
  left: 60%;
  top: 70%;
  background: url(../img/smallmoon.png);
  margin-top: -91px;
  margin-left: -102px;
  z-index: -2; }

section#main h1, section#main h2, section#main p {
  position: fixed;
  color: white; }
section#main h1 {
  top: 50px;
  width: 600px;
  text-align: center;
  left: 50%;
  margin-left: -300px; }
section#main h2 {
  top: 100px;
  width: 600px;
  left: 50%;
  margin-left: -300px; }
section#main p {
  top: 170px;
  left: 50%;
  width: 400px;
  margin-left: -200px; }
